# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
.env/
env/
.venv/

# VLC-specific
*.vlc
*.lua

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.cache

# Testing
.coverage
coverage.xml
*.cover
*.pytest_cache/

# Miscellaneous
*.bak
*.swp
*~

# DB
stickies.db
/parts/
/linsticky_deb/
/prime/
/stage/
/temp_mount/
/compile_translations.sh
/create_translation.sh
/file.txt
/generate_translations.sh
/linsticky_2.0.0-beta3_all.deb
/linsticky_2.0.0-beta3_amd64.snap
/release_2.0.1
/update_translation.sh
